/*Common Body Info*/
body {
  background-color: #FFF;
  height: 100%;
  margin: 0;
  padding: 0;
  /*Picture of Goldwin Smith is mine, taken last October*/
  background: url('../pictures/background.jpg') center center no-repeat fixed;
  background-size: cover;
}

.container {
  min-height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 50;
  background-color: rgba(51,51,51,0.75);
  width: 100%;
  height: 80px;
}

#navbar {
  position: absolute;
  top: 11px;
}

#navbar li {
  display: inline;
  padding: 10px;
}

#navbar a {
  color: #b3b3b3;
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
}

#navbar a:hover {
  font-weight: 400;
  color: #FFF;
}

#social-media {
  position: relative;
  top: 5px;
  margin-left: 80%;
}

.fa {
  margin: 5px;
  padding: 20px;
  font-size: 22px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border-color: #b3b3b3;
  color: #b3b3b3;
}

.fa:hover {
  border-color: #FFF;
  font-weight: bold;
  color: #FFF;
}

.body {
  height: 100%;
  width: 100%;
}

/*Home Page Styling*/

#home {
  position: relative;
  top: 100px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: #d9d9d9;
}

#home h1 {
  font-weight: 300;
  font-size: 90px;
}

#home h2 {
  font-weight: 300;
  font-size: 38px;
}

/*Portfolio Page Styling*/

#portfolio {
  position: relative;
  top: 45px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: #d9d9d9;
}

#portfolio h1 {
  font-weight: 300;
  font-size: 70px;
}

#portfolio h2 {
  font-weight: 300;
  font-size: 40px;
}

#portfolio img {
  border-style: solid;
  border-width: 10px;
  border-color: rgba(0,0,0,0.5);
  opacity: 1;
  width: 700px;
  height: 466px;
  margin-top: 22px;
  margin-bottom: 22px;
}

/*About Page Styling*/
#about {
  position: relative;
  height: 500px;
  width: 750px;
  top: 160px;
  left: 21%;
  font-family: "Helvetica", sans-serif;
  color: #d9d9d9;
}

#about h1 {
  padding-left: 10px;
  font-size: 45px;
  font-weight: 300;
}

#about p {
  line-height: 1.5;
}

#about img {
  border-style: solid;
  border-width: 10px;
  border-color: rgba(0,0,0,0.5);
  float: left;
  width: 300px;
  height: 341px;
  margin-right: 20px;
}

.indent {
  margin-left: 4em;
}

/*Contact Page Styling*/
#contact {
  position: relative;
  height: 400px;
  width: 500px;
  top: 200px;
  left: 200px;
  font-family: "Helvetica", sans-serif;
  color: #d9d9d9;
}

#contact p {
  line-height: 1.5;
}

#contact a {
  color: inherit;
}

#contact a:hover {
  color: #FFF;
}

#contact h2 {
  font-size: 40px;
  font-weight: 300;
}
